.weather {
  display: flex;
  flex-direction: column;
  border: 0px solid gray;
  width: 11.5%;
  padding: 30px 0;
  text-align: center;
}

.day {
  font-size: 17px;
}

.date {
  font-size: 13px;
  color: rgb(209, 209, 209);
  margin-bottom: 10px;
}

.temp {
  font-size: 13px;
}

.temp > span {
  color: rgb(209, 209, 209);
}

.main {
  font-size: 13px;
  color: rgb(209, 209, 209);
}
.rain {
  font-size: 13px;
}

@media screen and (max-width: 600px) {
  .weather {
    width: 21%;
    margin: 0 2%;
    padding: 5% 0;
  }
  .day {
    font-size: 0.75em;
  }
  .date {
    font-size: 0.7em;
  }
  .temp {
    font-size: 0.65em;
  }
  .main {
    font-size: 0.65em;
  }
  .rain {
    font-size: 0.65em;
  }
}
