.weather {
  display: flex;
  flex-direction: column;
  border: 0px solid gray;
  width: 15%;
  padding: 30px 0;
  text-align: center;
}

.day {
  font-size: 17px;
  margin-bottom: 5px;
}

.date,
.time {
  font-size: 13px;
  color: rgb(209, 209, 209);
}

.temp {
  font-size: 13px;
}

.temp > span {
  color: rgb(209, 209, 209);
}

.main {
  margin-top: -10px;
  font-size: 14px;
}
.rain {
  font-size: 13px;
}

.details {
  margin-top: 3px;
  font-size: 13px;
  line-height: 20px;
  color: rgb(209, 209, 209);
}

@media screen and (max-width: 600px) {
  .weather {
    width: 28%;
    margin: 0 2%;
    padding: 5% 0;
  }
  .day {
    font-size: 0.8em;
  }
  .date,
  .time {
    font-size: 0.7em;
  }
  .temp {
    font-size: 0.65em;
  }
  .main {
    font-size: 0.65em;
  }
  .rain {
    font-size: 0.65em;
  }
  .icon {
    width: 3em;
  }
  .details {
    font-size: 0.7em;
    display: flex;
    flex-direction: column;
    text-align: start;
  }
}
