.weatherList {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  background: rgba(248, 248, 248, 0.342);
}
