.header {
  text-align: center;
  position: relative;
  box-sizing: border-box;
}

.city {
  font-weight: lighter;
  font-size: 35px;
}

.currDate {
  margin-top: 2px;
  font-size: 18px;
  font-weight: lighter;
}

.units {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}
.units label {
  font-size: 18px;
  font-weight: lighter;
}
.units li {
  color: rgb(240, 240, 240);
  display: flex;
  align-items: center;
  margin-left: 5px;
}

.radioBtn {
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.units .input {
  all: unset;
  width: 0;
  height: 0;
  opacity: 0;
}

.checkMark {
  margin-right: 2px;
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(226, 226, 226);
  transition: all 0.35s;
}

.units .radioBtn:hover .checkMark {
  background-color: #fff;
}

.units .input:checked ~ .checkMark {
  /* background-color: #ccc; */
  background: radial-gradient(rgb(240, 99, 18) 50%, #ccc 51%);
}

.search {
  position: absolute;
  top: 0;
  right: 5px;
  display: flex;
  align-items: center;
}

.searchInput {
  all: unset;
  border-bottom: 1px solid #fff;
  margin-right: 5px;
  color: #fff;
}

.searchIcon {
  all: unset;
  font-size: 20px;
}

@media screen and (max-width: 600px) {
  .city {
    font-size: 1.6em;
    padding-top: 50px;
  }
  .currDate {
    font-size: 0.9em;
  }
  .search {
    width: 40%;
  }
  .searchInput {
    width: 100%;
  }
}
