.app {
  border-radius: 10px;
  width: 900px;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  /* background: url("./img/alexander-nachev-bURLo2P5EzI-unsplash.jpg") no-repeat
    center center/cover; */
  background-color: rgba(46, 45, 45, 0.329);
  backdrop-filter: blur(3px);
}
